nav{
  background-color: rgb(0, 0, 35);
}
nav{
  /* width:100%;
  height:10vh; */
}
nav ul {
  width: 100%;
  height:6em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  color: #e5e9f0;
  padding-right:2%;
}

nav ul li{
  list-style: none;
  cursor:pointer;
  padding: 1%;
  margin:.5%;

}

nav ul li:hover{
  transform: translateY(-2px);
  background-color: rgb(0, 0, 90);
  color:#fff;
  border-radius:10px;
  transition: all 250ms;
}

.bg-btn{
  background-color:rgb(0, 215, 243);
  color: rgb(0, 0, 10);
  border-radius:50px;
}


@media(max-width:400px){
  nav ul{
    justify-content: center;
  }
  nav ul li{
   padding:2%;
   margin:1%;
  }
}