.section_cont {
  width: 100%;
  height: 100vh;
  background-color: #009b9b;
  background-image: linear-gradient(0deg, rgb(0, 87, 99) 0%, rgb(0, 0, 50)84%);


  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 10%;
  padding-top: 0;
}


.logo {
  margin-right: 10%;
}

.logo img {
  margin-left: 30%;
}

.intro {
  width: 50%;
  color: rgb(233, 233, 233);
  /* padding-left: 5%;
  padding-top: 5%; */

  font-size: 18px;
  font-weight: 300;

  padding-top: 8%;
}

.intro h1 {
  font-weight: 800;
  font-size: 46px;
}

.intro button {
  width: 40%;
  height: 3rem;
  border: none;
  border-radius: 50px;
  background-color: rgb(0, 215, 243);

  font-size: 20px;
  margin-top: 5%;

}

.intro button a {
  text-decoration: none;
  color: rgb(0, 0, 1);
}



@media(max-width:750px) {

  .section_cont {
    padding-top: 10%;
  }

  .logo {
    display: none;
  }

  .intro {
    width: 80%;
    padding-top: 1%;
    font-size: 16px;
  }

  .intro h1 {
    font-size: 30px;
  }

  .intro-p {
    font-size: 16px;
    color: #fff;
  }

  .intro button {
    width: 60%;
    font-size: 16px;
  }
}


@media(max-width:500px) {
  section {
    /* background:red; */
    display: flex;
    justify-content: center;
  }

  .section_cont {
    padding-top: 50%;
    padding-bottom: 0;
  }

  .intro {
    width: 100%;
    padding: 5%;
    padding-bottom: 80%;
  }

  .intro h1 {
    font-size: 30px;
  }

  .intro-p {
    font-size: 16px;
  }
}